
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0); 
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
@keyframes animatslider {
   0%,100%
   {
    background:url("../images/slider-image1.jpg");
    background-size:cover;
   }
   40%
   {
    background:url("../images/slider-image2.jpg");
    background-size:cover;
   }
   80%
   {
    background:url("../images/slider-image3.jpg");
    background-size:cover;
   }

}
@keyframes slidetext
{
    0%,100%
   {
    opacity: 0;
}
   16%
   {
    opacity: 1;
    }
33% {
    opacity: 0;
}
}
@keyframes fadinout
{
    from
    {
    opacity: 0;
    }
    to
    {
    opacity:1;
    }
}