.contact
{
    @include flexwrap(space-around);
    padding:110px 50px;
    background-color: #ffffff;
    overflow: hidden;
    iframe
    {
        min-height: 400px;
      min-width: 520px;
      margin:20px 20px 0px 0px;
      @include animatefadeinup;
      animation-delay: 2s;
    }
    form
    {
        min-width: 520px;
        height:100%;
        margin:20px 0px 0px 20px;
        @include animatefadeinup;
        animation-delay: 0.8s;
        overflow: hidden;
        h2
        {
            font-size:2.8rem;
            padding-top:10px;
            color:#353535;
            font-weight:bold;
            @include animatefadeinup;
            animation-delay: 0.1s;
        }
        input
        {
            width: 45%;
            border:none;
            border-bottom:1px solid #dddddd;
            padding :20px 0px;
            margin:7px 10px;
            margin-bottom: 15px;
           
        }
        .subject
        {
            width: 95%;
        }
        textarea
        {
            width:100%;
            border:none;
            border-bottom:1px solid #dddddd;
            color:gray;
            padding-top: 20px;

        }
        textarea:focus, input:focus{
            outline: none;
        }
    }
}